Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-HTTPAuth==2.7.0
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Moment==0.5.1
Flask-PageDown==0.2.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12
ForgeryPy==0.1
Jinja2==2.8
Mako==1.0.3
Markdown==2.6.4
MarkupSafe==0.23
Pygments==2.0.2
SQLAlchemy==1.0.9
WTForms==2.0.2
Werkzeug==0.11.2
alembic==0.8.3
argparse==1.2.1
bleach==1.4.2
blinker==1.4
coverage==4.0.2
dominate==2.1.16
html5lib==0.9999999
httpie==0.9.2
itsdangerous==0.24
psycopg2==2.6.1
python-editor==0.4
requests==2.8.1
selenium==2.48.0
six==1.10.0
unittest-xml-reporting==1.13.0
visitor==0.1.2
wheel==0.24.0
wsgiref==0.1.2
