# Flask Requirements
Flask==0.11.1
Flask-HTTPAuth==3.2.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.13.1
Flask-Bootstrap>=3.3.7.0
Flask-RESTful==0.3.5
Flask-JWT==0.3.2

# Testing
coverage==4.2
flake8==3.2.1
selenium==3.0.2
unittest-xml-reporting==2.1.0
ForgeryPy3==0.3.1

# Other Dependencies
psycopg2==2.6.2
sqlalchemy_searchable==0.10.2
gunicorn==19.6.0
markdown==2.6.7
python-slugify==1.2.1