# Flask Requirements
Flask>=0.11
Flask-HTTPAuth>=2.7.0
Flask-Login>=0.2.11
Flask-Mail>=0.9.1
Flask-Migrate>=1.6.0
Flask-SQLAlchemy>=2.1
Flask-Script>=2.0.5
Flask-WTF>=0.12

# Testing
coverage>=4.0.2
flake8>=2.5.1
selenium>=2.48.0
unittest-xml-reporting>=1.13.0
ForgeryPy>=0.1

# Other Dependencies
psycopg2>=2.6.1
oauthlib>=1.0.3
sqlalchemy_searchable>=0.9.3
gunicorn
