.notebook-card {
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        border-top: solid 2px #1976d2;
}

.notebook-card p {
        text-align: center;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
}

.notebook-card a {
        text-decoration: none;
}

.notebook-card-title {
        height: 100px;
        background-color: #2196f3;
        color: #fff;
}

.notebook-card-actions {
        padding: 10px;
        text-align: right;
        font-size: 16px;
        color: #1976d2;
}

.notebook-card-actions i {
        margin-left: 10px;
}

.notebook-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.badge {
        margin-top: 10px;
        padding: 5px;
        background-color: #fff;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
        color: #1976d2;
}
