/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

div.navbar {
  border-radius: 0px;
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.note-tabs {
    margin-top: 16px;
    border-top: 1px solid #e0e0e0;
}
ul.notes {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #e0e0e0;
}
div.note-tabs ul.notes {
    margin: 0px;
    border-top: none;
}
ul.notes li.note {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
ul.notes li.note:hover {
    background-color: #f0f0f0;
}
div.note-date {
    float: right;
}
div.note-author {
    font-weight: bold;
}
div.note-thumbnail {
    position: absolute;
}
div.note-footer {
    text-align: right;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.note-body h1 {
    font-size: 140%;
}
.note-body h2 {
    font-size: 130%;
}
.note-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

/* Style for Releases Plugin */
#releases {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Custom Form Style */
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;

}

/* Custom Style for ACE Editor */
#editor {
  margin-bottom: 10px;
}
