@import url(https://fonts.googleapis.com/css?family=Cantarell);

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  background-color: rgb(240,244,247);
}

a {
  color: rgb(155, 105, 226);
}

a:hover {
  color:  rgba(155, 105, 226,0.7);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: rgba(13,6,23,0.8);
  color: rgb(222, 207, 244);
}

/* Braindump Custom Styles */

/* Navigation */
div.navbar {
  border-radius: 0px;
  margin: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-inverse {
  background-color: rgb(85,66,111);
  border-color:  rgb(85,66,111);
  // background-color: rgb(84,36,55);
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav li a{
  color: white;
}

.logo {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
  background-color:white;
  border-radius: 10px;
}

.nav {
    font-weight: bold;
}

.app-logo {
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color:white;
  border-radius: 10px;
}

.gravatar {
  border-radius: 50%;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

h1.top {
  margin-top: 0;
}


/* Outer Content */

.jumbotron {
  height: 400px;
  background-image: url(/static/images/ocean.jpg);
  background-size: cover; 
  background-position: 0% 55%;
}

div.col-md-4 {
    padding: 10px;
}

.content {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(222, 207, 244);
    border: solid 1px rgb(85,66,111);
    color: rgb(6, 5, 7);
    height: 250px;
}

.btn-action {
    background-color: rgb(85,66,111);
    color: white;
}

.btn-action:hover {
    background-color: rgba(85,66,111,0.8);
    color: white;
}



/* Style for Releases Plugin */
#releases {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Custom Form Style */
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

/* Custom Style for ACE Editor */
#editor {
  margin-bottom: 10px;
}
