#!/bin/bash
export MAIL_USERNAME=''
export MAIL_PASSWORD=''
export DB_USER=''
export DB_PASS=''
export DB_HOST=''
export DB_NAME=''
export BRAINDUMP_ADMIN=''
export SECRET_KEY=''
export FLASK_CONFIG=''