{% for note in notes %}
{% if loop.index == 1 %}
<div class="tab-pane active" id="{{ note.id }}">
{% else %}
<div class="tab-pane" id="{{ note.id }}">
{% endif %}

    <h1> {{ note.title }} </h1>

    <div class="note-date">
    {{ moment(note.created_date).format("MMMM  DD, YYYY") }}
    <span class="updated">
    Updated: {{ moment(note.updated_date).fromNow() }}</span>
  </div>

  <div class="note-actions">
      {% if note.is_favorite %}
      <a href="{{ url_for('.favorite', id=note.id) }}"><span class="favorite actions glyphicon glyphicon-star" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Unmark as favorite" ></a></span>
      {% else %}
      <a href="{{ url_for('.favorite', id=note.id) }}"><span class="actions glyphicon glyphicon-star" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Mark as favorite"></a></span>
      {% endif %}
      <a href="{{ url_for('.share', id=note.id) }}"><span class="actions glyphicon glyphicon-share" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Share"></a></span>
      <a href="{{ url_for('.edit', id=note.id) }}"><span class="actions glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Edit"></a></span>
      <a href="{{ url_for('.delete', id=note.id) }}"><span class="actions glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete"></a></span>
  </div>

  <div class="note-notebook">
      <a class="label label-notebook" href="{{ url_for('.notebook', id=note.notebook_id) }}"> {{ note.get_notebook(note.notebook_id).title | truncate(20) }} Notebook </a>
  </div>



  <div class="note-tags">
    <p>
      {% if current_user == note.author %}
        {% for tag in note._get_tags() %}
        <a class="label label-tag" href="{{ url_for('.tag', name=tag) }}"> {{ tag }} </a>
        {% endfor %}
      {% endif %}
    </p>
  </div>

  <div class="note-content">
    {{ note.body_html | safe  }}
  </div>
</div>
{% endfor %}

<script type="text/javascript">
function checkUncheck (checkbox) {
  // body...
  console.log("changed");
  var property;
  console.log($(checkbox).is(':checked'));
  if ($(checkbox).is(':checked') == false){
    $(checkbox).removeAttr("checked");
    property = "uncheck";
  }
  else{
    $(checkbox).attr("checked","");
    property="check";
  }
  
  var notediv = $(checkbox).parents(".tab-pane");

  var note_id = ($(notediv).attr('id'));// note id
  var todo_item = ($(checkbox).parent().text()); // todo item text
  var content_div = $(checkbox).parents(".note-content"); 
  var body_html = content_div.html();// body_html of the note
  var todo_item_id = $(checkbox).parent().attr("id");
  console.log("id is"+ todo_item_id)
  // console.log(note_id+property+body_html+todo_item+"iddddd"+ todo_item_id/);

  $.ajax({
    url: "{{ url_for('.checkuncheck') }}",
    cache: false,
    type: "POST",
    data: {note_id : note_id, property: property, body_html: body_html, todo_item: todo_item,todo_item_id:todo_item_id},
    success: function(result){
      console.log(result);
    },
    error: function(result){
      console.log(result);
    }
  });
  // console.log(content_div.html());
}

</script>