{% for note in notes %}
  {% if request.query_string == '' and loop.index == 1 %}
    <div class="tab-pane active" id="{{ note.id }}">
  {% elif request.args.get('active_note')|int == note.id %}
    <div class="tab-pane active" id="{{ note.id }}">
  {% else %}
    <div class="tab-pane" id="{{ note.id }}">
  {% endif %}

    <h1> {{ note.title }} </h1>

    <div class="note-date">
    {{ moment(note.created_date).format("MMMM  DD, YYYY") }}
    <span class="updated">
    Updated: {{ moment(note.updated_date).fromNow() }}</span>
  </div>

  <div class="note-actions">
    {% if not note.is_deleted %}
    {% if note.is_favorite %}
      <a href="{{ url_for('.favorite', id=note.id) }}"><i class="fa fa-star"></i></a>
    {% else %}
      <a href="{{ url_for('.favorite', id=note.id) }}"><i class="fa fa-star-o"></i></a>
    {% endif %}
      <a href="{{ url_for('.share', id=note.id) }}"><i class="fa fa-share"></i></a>
      <a href="{{ url_for('.edit', id=note.id) }}"><i class="fa fa-pencil-square-o"></i></a>
      <a href="{{ url_for('.archive', id=note.id) }}"><i class="fa fa-archive"></i></a>
      <a href="{{ url_for('.delete', id=note.id) }}"><i class="fa fa-trash"></i></a>
    {% else %}
      <a href="{{ url_for('.restore', id=note.id) }}"><span class="good actions glyphicon glyphicon-check" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Restore"></a></span>
      <a href="{{ url_for('.delete_forever', id=note.id) }}"><span class="bad actions glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete Forever"></a></span>
    {% endif %}
  </div>

  <div class="note-notebook">
      <a class="label label-notebook" href="{{ url_for('.notebooks', id=note.notebook_id) }}"> {{ note.get_notebook(note.notebook_id).title | truncate(20) }} Notebook </a>
  </div>

  <div class="note-tags">
    <p>
      {% if current_user == note.author %}
        {% for tag in note._get_tags() %}
        <a class="label label-tag" href="{{ url_for('.tag', name=tag) }}"> {{ tag }} </a>
        {% endfor %}
      {% endif %}
    </p>
  </div>

  <div class="note-content">
    {{ note.body_html | safe  }}
  </div>
</div>
{% endfor %}
