{% for note in notes %}
{% if loop.index == 1 %}
<div class="tab-pane active" id="{{ note.id }}">
{% else %}
<div class="tab-pane" id="{{ note.id }}">
{% endif %}

    <h1> {{ note.title }} </h1>

    <div class="note-date">
    {{ moment(note.created_date).format("MMMM  DD, YYYY") }}
    <span class="updated">
    Updated: {{ moment(note.updated_date).fromNow() }}</span>
  </div>

  <div class="note-actions">
      <a href="{{ url_for('.favorite', id=note.id) }}"><span class="actions glyphicon glyphicon-star" aria-hidden="true"></a></span>
      <a href="{{ url_for('.share', id=note.id) }}"><span class="actions glyphicon glyphicon-share" aria-hidden="true"></a></span>
      <a href="{{ url_for('.edit', id=note.id) }}"><span class="actions glyphicon glyphicon-pencil" aria-hidden="true"></a></span>
      <a href="{{ url_for('.delete', id=note.id) }}"><span class="actions glyphicon glyphicon-remove" aria-hidden="true"></a></span>
  </div>

  <div class="note-notebook">
      <a class="label label-notebook" href="{{ url_for('.notebook', id=note.notebook_id) }}"> {{ note.get_notebook(note.notebook_id).title | truncate(20) }} Notebook </a>
  </div>



  <div class="note-tags">
    <p>
      {% if current_user == note.author %}
        {% for tag in note._get_tags() %}
        <a class="label label-tag" href="{{ url_for('.tag', name=tag) }}"> {{ tag }} </a>
        {% endfor %}
      {% endif %}
    </p>
  </div>

  <div class="note-content">
    {{ note.body_html | safe  }}
  </div>
</div>
{% endfor %}
