{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

<div class="col-sm-10">
{% if heading %}
<p class="heading"> {{ heading }}</p>
{% else %}
  <p class="heading"> Welcome to Braindump {{ current_user.username }}!
  </p>
{% endif %}
</div>

<div class="row">

      <div class="col-sm-4">
          <ul class="nav nav-pills nav-stacked">
          {% for note in notes %}
            {% if loop.index == 1 %}
              <li class="note-content active">
            {% else %}
              <li class="note-content">
            {% endif %}
                    <a href="#{{ note.id }}" data-toggle="pill">
                        {{ note.title }} <br />
                        <small>{{ moment(note.updated_date).fromNow() }}</small>
                    </a>
              </li>
          {% endfor %}
          </ul>
      </div>

      <div class="col-sm-7 preview">
          <div class="tab-content">
              {% include 'app/_note.html' %}
          </div>
      </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
{% endblock %}
