{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',
                             filename='css/font-awesome.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" type="text/css">
{% endblock %}

{% block title %} BrainDump {% endblock %}

{% block navbar %}

<div class="container">
    <div class="row">

    <div class="col-sm-1">
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="/"><img class="app-logo" src="{{ url_for('static', filename='images/logo.svg')}}"></img></a>
            </li>
            <li class="sidebar-item" title="Search">
                <a href="/search" class="text-center"><span class="nav-item glyphicon glyphicon-search" aria-hidden="true"></span><br><span class="nav-description">Search</span></a>
            </li>
			{% block add %}
            <li class="sidebar-item" title="Add a Note">
				<a href="/add"><span class="nav-item glyphicon glyphicon-plus" aria-hidden="true"></span><br><span class="nav-description">Add a Note</span></a>
            </li>
			{% endblock %}
            <li class="sidebar-item" title="Notebooks">
                <a href="/notebooks"><span class="nav-item glyphicon glyphicon-book" aria-hidden="true"></span><br><span class="nav-description">Notebooks</span></a>
            </li>
            <li class="sidebar-item" title="Favorites">
                <a href="/favorites"><span class="nav-item glyphicon glyphicon-star" aria-hidden="true"></span><br><span class="nav-description">Favorites</span></a>
            </li>
            <li class="sidebar-item" title="Settings">
                <a href="/settings"><span class="nav-item glyphicon glyphicon-cog" aria-hidden="true"></span><br><span class="nav-description">Settings</span></a>
            </li>
            <li class="sidebar-item" title="Archive">
                <a href="/archive"><i class="fa fa-archive"></i><br><span class="nav-description">Archive</span></a>
            </li>
            <li class="sidebar-item" title="View Trash">
                <a href="/trash"><span class="nav-item glyphicon glyphicon-trash" aria-hidden="true"></span><br><span class="nav-description">Trash</span></a>
            </li>
            <li class="sidebar-item" title="Log Out">
                <a href="{{ url_for('auth.logout') }}"><span class="nav-item glyphicon glyphicon-off" aria-hidden="true"></span><br><span class="nav-description">Logout</span></a>
            </li>
        </ul>
    </div>


{% endblock %}

{% block content %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      {% block page_content %}{% endblock %}

</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
{% endblock %}
