{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} BrainDump | Edit Note {% endblock %}

{% block page_content %}
  <div class="col-sm-11">
  <h1 class="top"> Edit Note </h1>
  <hr />

  <form class="form form-horizontal" action="" method="post" role="form">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.body) }}
    {{ wtf.form_field(form.body_html) }}
    <div id="editor"></div>
    {{ form.tags( **{'id':"tag-input", 'class': "form-group", 'placeholder': "Enter Tags (Optional)", 'data-role':"tagsinput"}) }}
    {{ wtf.form_field(form.notebook, default="{{ note.notebook_id }}") }}
    {{ wtf.form_field(form.submit, class="btn btn-default form-group") }}
  </form>

<hr />
<div id="preview" class="note-content"></div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-tagsinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/releases.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ace/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump_editor.js') }}"></script>
{% endblock %}
