{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

      <div class="col-sm-11">
      <p> Add a New Notebook </p>

      <form class="form form-horizontal" method="post" action="/notebooks" role="form">
          {{ form.csrf_token }}
          {{ wtf.form_field(form.title, autofocus=true) }}
          {{ wtf.form_field(form.submit, class="btn btn-default form-group") }}
      </form>

      <h4> Notebooks </h4>
	  <div class="notebook">
      {% for notebook in notebooks %}
	  <a class="btn btn-primary" href="{{ url_for('.notebook', id=notebook.id)}}">
		  {{ notebook.title }}
		  <br />
		  <span class="badge"> {{ notebook.notes | length }} Notes </span>
	  </a>
      {% endfor %}
      </div>
  </div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
{% endblock %}
