{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

      <h1 class="top"> Add a New Notebook </h1>

      <form class="form form-horizontal" method="post" action="/notebooks" role="form">
          {{ form.csrf_token }}
          {{ wtf.form_field(form.title, autofocus=true) }}
          {{ wtf.form_field(form.submit, class="btn btn-default form-group") }}
      </form>

      <h4> Notebooks </h4>
      <ul>
      {% for notebook in notebooks %}
      <li>
      <a href="{{ url_for('.notebook', id=notebook.id)}}">{{ notebook.title }}</a>
      </li>
      {% endfor %}
      </ul>



{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
{% endblock %}
