{% extends 'app/app_base.html' %}

{% block title %} Braindump | Note {% endblock %}

{% block add %}
            <li class="sidebar-item" title="Add a Note">
				<a href="{{ url_for('main.add', notebook=notebook.id) }}"><span class="nav-item glyphicon glyphicon-plus" aria-hidden="true"></span><br><span class="nav-description">Add a Note</span></a>
            </li>
{% endblock %}

{% block page_content %}

<div class="col-sm-10">
<p class="heading"> Notes in {{ notebook.title }} </p>
</div>

<div class="row">

      <div class="col-sm-4">
          <ul class="nav nav-pills nav-stacked">
          {% for note in notes | sort(reverse=True, attribute='updated_date') %}
            {% if loop.index == 1 %}
              <li class="note-content active">
            {% else %}
              <li class="note-content">
            {% endif %}
                    <a href="#{{ note.id }}" data-toggle="pill">
                        {{ note.title }} <br />
                        <small>
                        <span class="note-updated-date-list" value="{{note.updated_date}}">
                        </span>
                        </small>
                    </a>
              </li>
          {% endfor %}
          </ul>
      </div>

      <div class="col-sm-7 preview">
          <div class="tab-content">
              {% include 'app/_note.html' %}
          </div>
      </div>

</div>

{% endblock %}
