{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

      <div class="col-sm-11">
      <h1 class="top"> Search for Anything </h1>

      <form class="form" action="/search" role="form">
          {{ wtf.form_field(form.search_field, autofocus="true") }}
          {{ wtf.form_field(form.submit, class="btn btn-default form-group") }}
        </form>

      {% include 'app/_notes.html' %}

    </div>

{% endblock %}
