{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

<div class="col-sm-11">

    <h1 class="top"> Settings </h1>
    <hr>

    <p> Hi {{ current_user.username }}! You can change your settings here. </p>

    <a class="btn btn-default" href="/auth/change-email">Change Email</a>
    <a class="btn btn-default" href="/auth/change-password">Change Password</a>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-tagsinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/releases.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ace/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
{% endblock %}
