{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} BrainDump | Share Note {% endblock %}

{% block page_content %}
  <div class="col-sm-11">
  <h1 class="top"> Share Note </h1>

  <form class="form form-horizontal" action="" method="post" role="form">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.recipient_email, placeholder="Enter Email address") }}
    {{ wtf.form_field(form.submit, class="btn btn-default form-group") }}
  </form>

  {% include 'app/_note.html' %}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/releases.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ace/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
{% endblock %}
