{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

<div class="col-sm-11">

<div class="task-heading">
	<p> Hi {{ current_user.username }}! Here are your tasks. </p>
	<a class="btn btn-md btn-success" href="{{ url_for('main.tasks', status='open') }}"> Open </a>
	<a class="btn btn-md btn-danger" href="{{ url_for('main.tasks', status='closed') }}"> Closed </a>
	<a class="btn btn-md btn-info" href="{{ url_for('main.tasks', status='all') }}">All </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-s-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Task</th>
              <th>Note</th>
              <th>Created</th>
              <th>Completed</th>
			  <th>Actions</th>
            </tr>
          </thead>
          <tbody>
			{%for task in tasks %}
			<tr>
				<td>
				{{ task.title }}
				</td>
				<td>
                {% if task.note_id %}
				<a href="{{ url_for('main.note', id=task.get_note().id) }}">{{ task.get_note().title }}</a>
                {% else %}
                <a class="btn btn-sm btn-default" href="{{ url_for('main.add',
                notebook=task.get_notebook().id) }}"><i class="fa
                        fa-plus"></i> Add Note for this Task<a/>
                {% endif %}
				</td>
				<td>
				{{ moment(task.created_date).format("MM/DD/YY") }}
				</td>
				<td>
				{% if task.is_checked %}
				{{ moment(task.closed_date).format("MM/DD/YY") }}
				{% else %}
				Incomplete
				{% endif %}
				</td>
				<td>
				{% if task.closed_date %}
				<a class="btn btn-sm btn-default" href="{{ url_for('main.reopen_task', task_id=task.id) }}">Reopen</a>
				{% else %}
				<a class="btn btn-sm btn-default" href="{{ url_for('main.close_task', task_id=task.id) }}">Close</a>
				{% endif %}
			  </tr>
            {% endfor %}

          </tbody>
         </table>


        <a class="btn btn-default" href="/tasks/add"><i class="fa fa-plus"> Add
        Task</i></a>

      </div>
    </div>
  </div>
</div>



{% endblock %}

