{% extends "app/app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}


<div class="col-sm-11">
<h1 class="top"> TODO list </h1>
<hr>

<p> Hi {{ current_user.username }}! Here are all your TODOs. </p>

{% for note in notes %}
    <div id="note{{note.id}}" hidden>
        {{note.body_html}}
    </div>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-s-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          
          <thead>
            <tr>
              <th>TODO</th>
              <th>Note</th>
              <th>Created</th>
              <th>Completed</th>
            </tr>
          </thead>
                            
          <tbody>
          {% for note in notes|sort(attribute='created_date') %}
            {% for todo in note.todo_items|sort(attribute='created_date') %}
                <tr>
                    <td class="col-sm-2">
                    {% if todo.is_checked %}
                    <input type="checkbox" onchange="checkUncheckDirect(this,{{ note.id }},{{todo.id}},'{{todo.title}}')" checked="checked">
                    {{ todo.title }}
                    {% else %}
                    <input type="checkbox" onchange="checkUncheckDirect(this,{{ note.id }},{{todo.id}},'{{todo.title}}')" >
                    {{ todo.title }}
                    {% endif %}
                    </td>
                    <td><a href="{{ url_for('.note', id=note.id) }}"><h5>{{ note.title | truncate(100) }}</h5></a></td>
                    <td>{{ moment(todo.created_date).format("MMMM  DD, YYYY") }}</td>
                    <td>{% if todo.checked_date %}
                            {{ moment(todo.checked_date).format("MMMM  DD, YYYY") }}
                        {% else %}
                            Not yet completed!
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}

            
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>
</div>


</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/libs/marked.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-tagsinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/releases.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ace/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump_editor.js') }}"></script>
<script>
    

    function checkUncheckDirect(checkbox, note_id, todo_item_id, todo_item){

    var property;
      if ($(checkbox).is(':checked') == false){
        $(checkbox).removeAttr("checked");
        property = "uncheck";
        
      }
      else{
        $(checkbox).attr("checked","");
        property="check";
      }
  
  var temp = $("#tempdiv"+note_id);
  console.log("len"+ temp.length);
  if (temp.length == 0){
    var body_html = $('#note'+note_id).text();
    temp = document.createElement('div');
    temp.setAttribute("id", "tempdiv"+note_id);
    temp.innerHTML = body_html;
    $('#note'+note_id).append(temp);
  }
  else{
    temp = temp.html();
  }
  var li = $('#'+todo_item_id).find("input");
  if (property == "uncheck")
     $(li).attr('checked', false);
  else
     $(li).attr('checked', true);
 
  body_html = $("#tempdiv"+note_id).html();
  console.log("id is "+todo_item_id);

  $.ajax({
    url: "/checkuncheck/",
    cache: false,
    type: "POST",
    data: {note_id : note_id, property: property, body_html: body_html, todo_item: todo_item,todo_item_id:todo_item_id},
    success: function(result){
      console.log(result);
    },
    error: function(result){
      console.log(result);
    }
  });

}
</script>
{% endblock %}
