<ul class="notes">
    {% for note in notes %}
    <li class="note">
        <div class="note-content">
            <div class="note-title"><a href="{{ url_for('.note', id=note.id)}}"><h3>{{ note.title }}</h3></a></div>
            <div class="note-date">{{ moment(note.timestamp).fromNow() }}
            by <a href="{{ url_for('.index', username=note.author.username) }}">{{ note.author.username }}</a> </div>
            <div class="note-body">
                {% if note.body_html %}
                    {{ note.body_html | safe }}
                {% else %}
                    {{ note.body }}
                {% endif %}
            <div class="note-footer">
              {% if current_user == note.author %}
              <span class="tags">Tags:</span>
              {% for tag in note._get_tags() %}
              <a class="tags" href="{{ url_for('.note', id=1)}}">
                {{ tag }}
              </a>
              {% endfor %}
              {% if note.is_deleted %}
              <a class="buttons" href="{{ url_for('.restore', id=note.id) }}">
                <span class="label label-success">Undelete</span>
              </a>
              <a class="buttons" href="{{ url_for('.delete_forever', id=note.id) }}">
                <span class="label label-danger">Delete Permanently</span>
              </a>
              {% else %}
              <a class="buttons" href="{{ url_for('.share', id=note.id) }}">
                <span class="label label-success">Share</span>
              </a>
              <a class="buttons" href="{{ url_for('.edit', id=note.id) }}">
                <span class="label label-primary">Edit</span>
              </a>
              <a class="buttons" href="{{ url_for('.delete', id=note.id) }}">
                <span class="label label-danger">Delete</span>
              </a>
              {% endif %}
              {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
