<ul class="notes">
    {% for note in notes %}
    <li class="note">
        <div class="note-content">
            <div class="note-title"><h3>{{ note.title }}</h3></div>
            <div class="note-date">{{ moment(note.timestamp).fromNow() }}
            by <a href="{{ url_for('.index', username=note.author.username) }}">{{ note.author.username }}</a> </div>
            <div class="note-body">
                {% if note.body_html %}
                    {{ note.body | safe }}
                {% else %}
                    {{ note.body }}
                {% endif %}
            <div class="note-footer">
              {% if current_user == note.author %}
              <a href="{{ url_for('.edit', id=note.id) }}">
                <span class="label label-primary">Edit</span>
              </a>
              <a href="{{ url_for('.delete', id=note.id) }}">
                <span class="label label-danger">Delete</span>
              </a>
              {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
