{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css') }}" type="text/css">
{% endblock %}

{% block title %} BrainDump {% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}

{% block page_content %}
{% endblock %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/braindump.min.js') }}"></script>
{% endblock %}
