<!DOCTYPE html>
<html>
<head>
  <title>
  {% block title %} BrainDump {% endblock %}
  </title>
{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css') }}" type="text/css">
{% endblock %}
</head>

<body>

{% block page_content %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/braindump.min.js') }}"></script>
{% endblock %}
</body>
</html>
