{% block footer %}
</div>
  <footer class="footer">
    <div class="container">
      <br />
      <p>
        &copy; 2015-2016 braindump by <a href="https://levlaz.org"> levlaz </a>
        <span class="right">
		Proudly Powered by <a href="https://www.linode.com/?r=15437cfec0948d105bf7478af2422241ed5da188">Linode</a> | 
        <a href="https://github.com/levlaz/braindump">GitHub</a> |
        <a href="https://github.com/levlaz/braindump/issues">Bugs </a>
        </span>
      </p>
  </div>
</footer>
{% endblock %}
