{% block footer %}
</div>
  <footer class="footer">
    <div class="container">
      <br />
      <p>
        &copy; 2015 braindump by <a href="https://levlaz.org"> levlaz </a>
        <span class="right">
        Proudly hosted on <a href="https://bitkumo.com/"> Bitkumo </a> |
        <a href="https://github.com/levlaz/braindump">GitHub</a> |
        <a href="https://github.com/levlaz/braindump/issues">Bugs </a> |
        <a href="https://braindump.statusy.co">Platform Status</a>
        </span>
      </p>
  </div>
</footer>
{% endblock %}
