{% extends "base.html" %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
        {% endfor %}
        <div class="inner">
          <h3 class="masthead-brand"><a href="{{url_for('main.index')}}">Braindump</a></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li>
                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#loginModal">Sign in</button>
              </li>
              <li>
                <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#registerModal">Sign up</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      {% include 'auth/login_modal.html' %}
      {% include 'auth/register_modal.html' %}

      <div class="inner cover">
        <h1 class="cover-heading">Welcome to Braindump</h1>
        <p class="lead">Braindump is a simple, powerful, and open note taking platform that makes it easy to organize your life. So far, braindump has helped {{stats.users}} people organize their life with {{stats.notes}} notes. Join them!</p>
        <p class="lead">
          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#registerModal">Dump Your Brain</button>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>
            &copy 2015-2016 braindump by <a href="https://levlaz.org"> levlaz </a>
          </p>
          <p>
    		      Proudly Powered by <a href="https://www.linode.com/?r=15437cfec0948d105bf7478af2422241ed5da188">Linode</a> |
              <a href="https://levlaz.org/category/braindump/">News</a> |
              <a href="https://github.com/levlaz/braindump">GitHub</a> |
              <a href="https://github.com/levlaz/braindump/issues">Bugs </a>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.braindump.pw"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.levops.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.levops.net/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


{% endblock %}
