{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}BrainDump{% endblock %}

{% block page_content %}

{% if current_user.is_authenticated() %}
  <div>
      {{ wtf.quick_form(form) }}

  </div>

  <div class="post-tabs">

      {% include '_notes.html' %}
  </div>
  {% if pagination %}
  <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
  </div>
  {% endif %}

{% else %}

{% include 'outer.html' %}

{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="{{ url_for('static', filename='js/libs/autosize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/braindump.js') }}"></script>
{% endblock %}
