<div class="jumbotron">
  <div class="container">
  <h1> Welcome to braindump </h1>
  <p class="lead">Braindump is a simple, powerful, and open note taking platform that makes it easy to organize your life. So far, braindump has helped {{ stats[0] }} people organize their life with {{ stats[1] }} notes. Join them!</p>
  <p><a class="btn btn-lg btn-action" href="/auth/login" role="button">Dump Your Brain</a></p>
  </div>
</div>

<div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="content">
          <h2>Dump</h2>
          <p> braindumps powerful markdown editor makes it easy for you to dump your brain out. 
          </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content">
          <h2>Organize</h2>
          <p> Organize your notes with tags, notebooks, and favorites </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content">
          <h2>Share</h2>
          <p> Share your great ideas with your friends and colleauges via email, no
          login required. </p>
          </div>
        </div>
        
      </div>

</div>
    
{% include 'footer.html' %}
