<div class="jumbotron">
  <h1>Welcome to BrainDump</h1>
  <p class="lead">BrainDump is a simple, powerful, and open note taking platfform that makes it easy to organize your life.</p>
  <p><a class="btn btn-lg btn-success" href="/auth/register" role="button">Dump Your Brain</a></p>
</div>

  <div class="alert alert-danger">
    <p>Braindump is still alpha software that is in <a href="https://github.com/levlaz/braindump">heavy development</a>. Please keep this in mind as you use it. :) Basic functionality now works and we would love for you to give it a try! Please report any bugs or other issues <a href="https://github.com/levlaz/braindump/issues">here. </a> </p>

  </div>

  <div class="container">
    <h1> Release Announcements </h1>
    <ul id="releases">
    </ul>
    <p id="more-releases">
    </p>
  </div>

{% include 'footer.html' %}
